simulation_data_collection/src/biped_s40/urdf/biped_s40.usd
isaac_lab_data_collection/core
simulation_data_collection/core

# ROS / catkin
build/
devel/
logs/
.catkin_tools/

# Python
__pycache__/
*.pyc

# CMake
CMakeCache.txt
CMakeFiles/

# IDE
.vscode/
.idea/
